<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set static_dir = '/static' %}
    {% set profile_avatars_dir = '/static/img/profile_avatars' %}
    {% set group_avatars_dir = '/static/img/group_avatars' %}
    {% set post_images_dir = '/static/img/post_images' %}
    {% set post_comment_images_dir = '/static/img/post_comment_images' %}
    {% set dialog_images_dir = '/static/img/dialog_images' %}
    {% set chat_images_dir = '/static/img/chat_images' %}
    {% set profile_path = '/profile' %}
    {% set chat_path = '/chat' %}
    {% set friends_path = '/friends' %}
    {% set chats_path = '/chats' %}
    {% set news_path = '/' %}
    <script>
        var profileAvatarsDir = "{{ profile_avatars_dir }}";
        var groupAvatarsDir = "{{ group_avatars_dir }}";
        var profilePath = "{{ profile_path }}";
        var chatPath = "{{ chat_path }}";
        var dialogImagesDir = "{{ dialog_images_dir }}";
        var chatImagesDir = "{{ chat_images_dir }}";
        var postCommentImagesDir = "{{ post_comment_images_dir }}";
    </script>
    <link rel="stylesheet" href="{{ static_dir }}/css/style.min.css">
    <title>Сообщения</title>
</head>
    <body>
      <header class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="nav__activity">
        <li class="nav__brand">
          <a href="" class="nav__logo _icon-logotype">HueHub</a>
        </li>
        <li class="nav__search _icon-search">
          <input type="text" class="nav__search" placeholder="Поиск" id="search-all" value="" oninput="targetSearch()">
          <div class="nav__search-results" style="display: none;">
            <div class="search-results__title"><strong>Результаты поиска</strong></div>
            <ul class="search-results__list" id="search-results-id">
              <!-- Прелоадер -->
              <div class="loader">
                <div class="inner one"></div>
                <div class="inner two"></div>
                <div class="inner three"></div>
              </div>
              <!-- здесь добавляются результаты поиска-->
            </ul>
          </div>
        </li>
        <li class="nav__notification">
          <button class="nav__notify _icon-notification"></button>
        </li>
     
      </ul>
      <div class="nav__profile">
        <a href="#!" class="nav__profile"><img src="{{profile_avatars_dir}}/{{ user.img }}" alt="" class="nav__photo"></a>
      </div>
    </nav>
  </div>
</header>
      <main>
        <div class="container">
          <section class="profile">
            
<section class="navigation">
  <ul class="navigation__list">
      <a class="list__item" href="{{profile_path}}/{{user.id}}">
          <div class="list__icon _icon-profile"></div>
          <div class="list__text">Моя страница</div>
      </a>
      <a class="list__item" href="{{ news_path }}">
          <div class="list__icon _icon-news"></div>
          <div class="list__text">Новости</div>
      </a>
      <a class="list__item" href="{{ chats_path }}">
          <div class="list__icon _icon-messages"></div>
          <div class="list__text">Сообщения</div>
      </a>
      <a class="list__item" href="{{ friends_path }}">
          <div class="list__icon _icon-friends"></div>
          <div class="list__text">Друзья</div>
      </a>
      <a class="list__item">
          <div class="list__icon _icon-music"></div>
          <div class="list__text">Музыка</div>
      </a>
      <a class="list__item">
          <div class="list__icon _icon-community"></div>
          <div class="list__text">Сообщества</div>
      </a>
  </ul>
</section>


            <div class="overlay"></div>
            <div class="modal-change-photo card" style="display: none;" id="changeAvatar">
              <div class="modal-change-photo__title border-bottom">
                <span class="modal-change-photo__text">Загрузка новой фотографии</span>
                <span class="modal-change-photo__close _icon-close" role="button" onclick="closeModal('changeAvatar')"></span>
              </div>
              <div class="modal-change-photo__block">
                <div class="modal-change-photo__recomendation">Вы можете загрузить изображение <br>в формате JPG, JPEG или PNG.</div>
                <img src="{{profile_avatars_dir}}/{{user.img}}" alt="" class="modal-change-photo__preview" id="modal-change-photo-preview">
                <div class="modal-change-photo__button-group">
                  <label for="change-photo-input" class="modal-change-photo__label">Загрузить</label>
                  <input type="file" id="change-photo-input" class="modal-change-photo__input" 
                  accept="image/jpeg, image/jpg, image/png, image/" hidden onchange="uploadPhoto(this, 'modal-change-photo-preview')">
                  <button class="modal-change-photo__submit" id="modal-change-photos" onclick="exportProfilePhoto('modal-change-photo-preview')">Сохранить</button>
                </div>
              </div>
            </div>
            <div class="modal-change-photo card" style="display: none;" id="attachCommentPhotos" data-upload-id="">
              <div class="modal-change-photo__title border-bottom">
                  <span class="modal-change-photo__text">Загрузка новых фотографий</span>
                  <span class="modal-change-photo__close _icon-close" role="button" onclick="closeModal('attachCommentPhotos')"></span>
              </div>
              <div class="modal-change-photo__block">
                  <div class="modal-change-photo__recomendation">Вы можете загрузить изображения <br>в формате JPG, JPEG или PNG.</div> 
                  <div class="modal-change-photo__photos">
                      <ul class="media-grid items-" id="media-grid-upload">

                      </ul>
                  </div>
                  <div class="modal-change-photo__button-group">
                    <label for="change-photos-input" class="modal-change-photo__label">Загрузить</label>
                    <input type="file" id="change-photos-input" class="modal-change-photo__input" 
                    accept="image/jpeg, image/jpg, image/png, image/" hidden multiple onchange="uploadPhotos(this, 'media-grid-upload')">
                    <button class="modal-change-photo__submit" id="modal-change-photos" 
                    onclick="populateFromUpload('media-grid-upload', '', 'attachCommentPhotos'); closeModal('attachCommentPhotos')">Сохранить</button>
                  </div>
              </div>
            </div>
            <div class="modal-change-photo card" style="display: none;" id="addPhoto">
              <div class="modal-change-photo__title border-bottom">
                  <span class="modal-change-photo__text">Загрузка новых фотографий</span>
                  <span class="modal-change-photo__close _icon-close" role="button" onclick="closeModal('addPhoto')"></span>
              </div>
              <div class="modal-change-photo__block">
                  <div class="modal-change-photo__recomendation">Вы можете загрузить изображения <br>в формате JPG, JPEG или PNG.</div> 
                  <div class="modal-change-photo__photos">
                      <ul class="media-grid items-" id="media-grid-upload">

                      </ul>
                  </div>
                  <div class="modal-change-photo__button-group">
                    <label for="change-photos-input" class="modal-change-photo__label">Загрузить</label>
                    <input type="file" id="change-photos-input" class="modal-change-photo__input" 
                    accept="image/jpeg, image/jpg, image/png, image/" hidden multiple onchange="uploadPhotos(this, 'media-grid-upload')">
                    <button class="modal-change-photo__submit" id="modal-change-photos" 
                    onclick="populateFromUpload('media-grid-upload', 'media-grid-upload-result'); closeModal('addPhoto')">Сохранить</button>
                  </div>
              </div>
            </div>
            <div class="profile__wall">
              <div class="profile__header card">
                <img src="{{profile_avatars_dir}}/{{profile_user.img}}" alt="" class="profile__avatar big" 
                role="button" id="profile-photo" {% if relationship == 'Same' %} onclick="openModal('changeAvatar')" {% endif %}>
                <div class="profile__header-content">
                  <div class="profile__owner-page">
                    <div class="profile__name">{{profile_user.name}}</div>
                    <div class="profile__surname">{{profile_user.surname}}</div>
                  </div>
                    <div class="profile__activity" id="friend-action-id">
                      {% if relationship == "None" %}
                        <button class="profile__button-add" onclick="addFriend('{{ user.id }}', '{{ profile_user.id }}');
                        changeProfileUI('friend-action-id', 'send', '{{ user.id }}', '{{ profile_user.id }}')">Добавить в друзья</button>
                      {% elif relationship == "Friends" %}
                        <button class="profile__button-add" onclick="deleteFriend('{{ user.id }}', '{{ profile_user.id }}');
                        changeProfileUI('friend-action-id', 'delete', '{{ user.id }}', '{{ profile_user.id }}')">Удалить из друзей</button>
                        <button class="profile__button-message _icon-messages" onclick="toDialog('{{ profile_user.id }}')"></button>
                      {% elif relationship == "Received" %}
                        <button class="profile__button-add" onclick="acceptInvite('{{ user.id }}', '{{ profile_user.id }}');
                        changeProfileUI('friend-action-id', 'accept', '{{ user.id }}', '{{ profile_user.id }}')">Принять заявку</button>
                        <!-- наоборот поскольку отклоняет получивший -->
                        <button class="profile__button-add" onclick="denyInvite('{{ profile_user.id }}', '{{user.id}}');
                        changeProfileUI('friend-action-id', 'deny', '{{ user.id }}', '{{ profile_user.id }}')">Отклонить заявку</button>
                      {% elif relationship == "Sent" %}
                        <button class="profile__button-add" onclick="denyInvite('{{user.id}}', '{{ profile_user.id }}');
                        changeProfileUI('friend-action-id', 'deny', '{{ user.id }}', '{{ profile_user.id }}')">Отклонить свою заявку</button>
                      {% else %}
                        <div class="profile__button-add">Редактировать</div>  
       
                      {% endif %}
                    </div>
                  </div>
              </div>
              {% if relationship == "Same" %}
              <div class="page-body__add-new-note card">
                <div class="list__note">
                    <div class="list__profile"><img src="{{ profile_avatars_dir }}/{{ user.img }}" alt="" class="list__photo"></div>
                    <div class="list__text-field" contentEditable="true" role="textbox" aria-multiline="true" data-text="Что у вас нового?"  
                    onkeydown="autoResize(event, 'add-note-field')" id="add-note-field"></div>
                </div>
                <div class="add-new-note__activity">
                    <div class="f _icon-paperclip media-selector" id="media-selector" role="button" onclick="openModal('addPhoto')"></div>
                </div>
                <ul class="media-grid items-" id="media-grid-upload-result">
                  
                </ul>
              </div>
              {% endif %}
              {% for post in posts %}
              <div class="page-body__news card">
                
                  <div class="news__header">
                    <div><img class="news__image" src="{{ profile_avatars_dir }}/{{ profile_user.img }}" alt=""></div>
                    <div class="news__header_text">
                        <div class="news__author"><a href="" class="news__author link"> {{profile_user.fullname}} </a></div>
                        <div class="date__subtitle"><time class="date__date" time="{{post.created_date}}"></time></div>
                    </div>
                  </div>
                  <div class="news-body">
                      <div class="news-body__text"> {{ post.content }} </div> 
                      <ul class="news-body__ media-grid items-{{post.images|length}}">
                          {% for image in post.images %}
                            <li class="media-grid item">
                                <img src="{{ post_images_dir }}/{{ image.url }}" alt="" class="media-grid__img">
                            </li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class="news-footer">
                    {% if post in user.liked_posts %}
                    <div role="button" class="news-footer__like btn-active" onclick="toggleLike(this, '{{ post.id }}')">
                      <div class="f _icon-like like-active"><span class="count">{{ post.like_count }}</span></div></div>
                    {% else %}
                    <div role="button" class="news-footer__like btn" onclick="toggleLike(this, '{{ post.id }}')">
                      <div class="f _icon-like"><span class="count">{{ post.like_count }}</span></div></div>
                    {% endif %}
                    <div class="news-footer__comment btn" onclick="displayComments('comments-{{ post.id }}')">
                      <div class="f _icon-notify-comment"><span class="count" style="user-select: none;">{{post.comments|length}}</span></div></div>
                  </div>
                  <div class="news-comments" id='comments-{{ post.id }}'>
                    <ul class="news-comments__list" id="comments-list-{{ post.id }}">
                      {% for comment in post.comments %}
                        <li class="news-comments__item" id="comment-{{comment.id}}">
                            <div class="news-comments__content">
                                <img src="{{profile_avatars_dir}}/{{comment.user.img}}" alt="" class="news-comments__photo">
                                <div class="news-comments__text-content">
                                    <a href="{{ profile_path }}/{{ comment.user.id}}" class="news-comments__sender">{{ comment.user.fullname }}</a>
                                    <div class="news-comments__text">{{comment.content}}</div>
                                    <div class="date__subtitle"><time class="date__date" time="{{comment.created_date}}"></time></div>            
                                </div>
                            </div>
                            <ul class="messages-take media-grid items-{{comment.images|length}}">
                              {% for image in comment.images %}
                                <li class="media-grid item">
                                    <img src="{{ post_comment_images_dir }}/{{ image.url }}" alt="" class="media-grid__img">
                                </li>
                              {% endfor %}
                            </ul>
                        </li>
                      {% endfor %}
                    </ul>
                    <div class="news-comments__form">
                      <img src="{{profile_avatars_dir}}/{{user.img}}" alt="" class="news-comments__your-photo">
                      <div class="news-comments__activity">
                          <div class="news-comments__add-photo _icon-paperclip" role="button" onclick="openModal('attachCommentPhotos', resultId='media-grid-upload-result-{{post.id}}')"></div>
                          <div class="news-comments__text-field" contentEditable="true" role="textbox" aria-multiline="true" data-text="Напишите сообщение..." 
                          onkeydown="autoResize(event, 'new-comment-message-{{post.id}}', '{{ post.id }}')" id="new-comment-message-{{post.id}}"></div>
                          <div class="news-comments__send-message _icon-react" onclick="sendMessageButton('new-comment-message-{{post.id}}', '{{ post.id }}')"></div>
                      </div> 
                    </div>
                    <ul class="media-grid items- messages-send" id="media-grid-upload-result-{{post.id}}">
                    </ul>
                  </div>
                {% endfor %}
              </div>
            </div>
          </section>
        </div>
      </main>
      <footer><script src="{{ static_dir }}/js/app.min.js"></script></footer>
    </body>
</html>