<!DOCTYPE html>
<html lang="en">
    @@include('html/head.html', {
        "title": "Чаты"
    })
    <body style="overflow-y: hidden;">
        @@include('html/header.html', {})
        <main>
            <div class="container">
                <section class="dialogs">
                    @@include('html/navigation.html', {})
                    <div class="dialog card">
                        <div class="dialogs__search border-bottom">
                            <div class="search__block _icon-search">
                                <input class="search__field" id="dialog-search-field" placeholder="Поиск" oninput="searchAll(this)" value=""></input>
                                <div class="search__new-chat _icon-plus" id="new-chat" role="button" onclick="toggleUserList()"></div>
                            </div>
                        </div>
                        <form method="POST" id="new-chat-form"> 
                            {{ form.hidden_tag() }}
                            <ul class="dialogs__list scrolling" style="display: none;" id="users-list-id">
                                {% for friend_id, friend_name, friend_surname, friend_img in form.friends.choices %}
                                    <li class="dialog__item">
                                        <div class="dialog__block">
                                            <div class="dialog__photo">
                                                <img src="{{ profile_avatars_dir }}/{{ friend_img }}" alt="">
                                            </div>
                                            <div class="dialog__content">
                                                <div class="dialog__title">
                                                    <span class="dialog__title text">{{friend_name}} {{friend_surname}} </span>
                                                    <span class="dialog__title radio-btn" role="checkbox" name="person" friend-id="{{ friend_id }}" onclick="addPerson(this)"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div id="users-items-id" class="dialogs__items" style="display: none;">
                                <input type="text" class="chat__title" placeholder="Название чата" id="users-title-id"></input>
                                <input type="text" class="chat__description" placeholder="Описание чата" id="users-description-id"></input>
                                <button type="submit" class="chat__submit" id="users-submit-id">Создать чат</button>
                            </div>
                        </form>
                        <ul class="dialogs__list scrolling" style="display: block;" id="chat-list-id">
                            {% for title, img, chat, last_message in chat_list %}
                                <li class="dialog__item">          
                                    <a class="dialog__block" href="{{ chat.chat_url }}/{{ chat.id }}">
                                        <div class="dialog__photo">
                                            <img src="{{chat.avatar_dir}}/{{ img }}" alt="">
                                        </div>
                                        <div class="dialog__content">
                                            <div class="dialog__title">
                                                <span class="dialog__title text">{{ title }}</span>
                                                <div class="date__subtitle"><time class="date__date" time="{{chat.last_update}}"></time></div>
                                            </div>
                                            <div class="dialog__preview unread">
                                                <span class="dialog__preview text">{{ last_message }}</span>
                                            </div> 
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </section>
            </div>
        </main>
        @@include('html/footer.html', {})
    </body>
</html>