$fc: black;
$FontColorA: #edeef0;
$ColorDefault: #edeef0;
$ColorDefaultActive: #cecece;
$FontColorLight: #fefefe;
$iconFontColorNavigation: #e69052;
$iconFontColorNavigationBack: rgba(214, 142, 90, 0.315);
$iconFontColorDefault: #757575;
$errorColor: #ff0000;
$fw: 500;
$header-height: 50px;

$fzA: 15px;
$fzT: 13px;
$fzH: 28px;
$INTFONT: "Hedvig Letters Sans", sans-serif;
$ff: "Raleway", sans-serif;


$container-width: 1106px; 
$navigation-width: 150px; 